{% extends 'base.html' %}

{% block title %}
Страница о нас
{% endblock %}

{% block body %}
<div class="container">
    <h1>Страница о нас</h1>

    <p>     iCloud позволяет надежно хранить контент и поддерживать приложения в актуальном состоянии на всех Ваших устройствах.
    Это означает, что все Ваши материалы;— фотографии, файлы, заметки и др.— будут доступны, где бы Вы ни находились.
    При регистрации Вы бесплатно получаете 4ГБ пространства в хранилище iCloud и можете увеличить его объем в любой момент.
    </p>
<p>     Благодаря iCloud изменения, внесенные на одном устройстве, будут отображаться на всех Ваших устройствах.
    Кроме того, Вы можете работать со своими любимыми приложениями, такими как «Фото», «Почта» и «Заметки», на сайте iCloud.com.
    Просто войдите в систему с помощью любого из поддерживаемых браузеров. См. статью Службы поддержки Apple <a href="https://support.apple.com/HT210402" class="URL">Какие функции iCloud.com доступны в браузере на устройстве</a>.
</p>
</div>
{% endblock %}